.fontEnd > div:first-child div:first-child h1, .fontEnd section .container > div:first-child > div:last-child > div > div > div:last-child {
  color: #141c3a; }

.fontEnd section .container > div:first-child > div:last-child > div > div > div:last-child span {
  color: #20d29e; }

.fontEnd section .container > div:first-child > div:first-child h2 {
  color: #ffffff; }

.fontEnd section .container > div:first-child > div:first-child h2 {
  background-color: #141c3a; }

.fontEnd > div:first-child div:first-child h1 {
  background-color: #f0f2f4; }

.fontEnd section .container > div:first-child > div:last-child > div {
  padding: 10px 20px; }

.fontEnd, .fontEnd > div:first-child div:first-child, .fontEnd section .container > div:first-child, .fontEnd section .container > div:first-child > div:first-child, .fontEnd section .container > div:first-child > div:last-child {
  padding: 20px 0px; }

.fontEnd section .container > div:first-child > div:last-child > div > div > div:last-child {
  padding: 10px; }

.fontEnd, .fontEnd > div:first-child div:first-child, .fontEnd section .container > div:first-child, .fontEnd section .container > div:first-child > div:first-child, .fontEnd section .container > div:first-child > div:last-child {
  padding: 20px 0; }

.fontEnd section .container > div:first-child > div:last-child > div > div > div:last-child {
  font-weight: 700; }

.fontEnd > div:first-child div:first-child h1 {
  font-size: 40px; }

.fontEnd section .container > div:first-child > div:last-child > div > div > div:last-child {
  text-align: center; }

.fontEnd > div:first-child div:first-child h1 {
  text-transform: capitalize; }

.fontEnd > div:first-child div:first-child, .fontEnd section .container > div:first-child > div:first-child, .fontEnd section .container > div:first-child > div:last-child {
  display: flex; }

.fontEnd section .container > div:first-child > div:last-child > div > div {
  border-width: 2px; }

.fontEnd section .container > div:first-child > div:last-child > div > div {
  border-style: solid; }

.fontEnd section .container > div:first-child > div:last-child > div > div {
  border-color: #f0f2f4; }

.fontEnd > div:first-child div:first-child h1, .fontEnd section .container > div:first-child > div:first-child h2, .fontEnd section .container > div:first-child > div:last-child > div > div {
  border-radius: 6px; }

.fontEnd > div:first-child div:first-child, .fontEnd section .container > div:first-child > div:first-child {
  justify-content: center; }

.fontEnd section .container > div:first-child > div:last-child {
  justify-content: start; }

.fontEnd > div:first-child div:first-child, .fontEnd section .container > div:first-child > div:first-child {
  align-items: center; }

.fontEnd section .container > div:first-child > div:last-child {
  flex-wrap: wrap; }

.fontEnd section .container > div:first-child > div:last-child > div, .fontEnd section .container > div:first-child > div:last-child > div > div {
  overflow: hidden; }

.fontEnd section .container > div:first-child > div:last-child > div > div > div:first-child img {
  height: 100%; }

.fontEnd section .container > div:first-child > div:last-child > div > div > div:first-child, .fontEnd section .container > div:first-child > div:last-child > div > div > div:first-child img, .fontEnd section .container > div:first-child > div:last-child > div > div > div:last-child {
  width: 100%; }

.fontEnd > div:first-child div:first-child h1 {
  padding: 10px 100px; }
.fontEnd section {
  padding: 40px 0; }
  .fontEnd section .container > div:first-child > div:first-child h2 {
    padding: 10px 70px; }
  .fontEnd section .container > div:first-child > div:last-child > div {
    min-height: 200px;
    width: 25%; }
    .fontEnd section .container > div:first-child > div:last-child > div > div > div:first-child {
      height: 200px; }

/*# sourceMappingURL=frontEnd.css.map */
