.FrontEnd > div:first-child div:first-child h1, .FrontEnd section:first-of-type .container > div:first-child > div:last-child > div > div > div:last-child,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child > div > div > div:last-child {
  color: #010531; }

.FrontEnd section:first-of-type .container > div:first-child > div:last-child > div > div > div:last-child span,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child > div > div > div:last-child span {
  color: #20d29e; }

.FrontEnd section:first-of-type .container > div:first-child > div:first-child h2,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:first-child h2 {
  color: #ffffff; }

.FrontEnd section:first-of-type .container > div:first-child > div:first-child h2,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:first-child h2 {
  background-color: #010531; }

.FrontEnd > div:first-child div:first-child h1 {
  background-color: #f0f2f4; }

.FrontEnd section:first-of-type .container > div:first-child > div:last-child > div,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child > div {
  padding: 10px 20px; }

.FrontEnd, .FrontEnd > div:first-child div:first-child, .FrontEnd section:first-of-type .container > div:first-child,
.FrontEnd section:nth-of-type(2) .container > div:first-child, .FrontEnd section:first-of-type .container > div:first-child > div:first-child,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:first-child, .FrontEnd section:first-of-type .container > div:first-child > div:last-child,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child {
  padding: 20px 0px; }

.FrontEnd section:first-of-type .container > div:first-child > div:last-child > div > div > div:last-child,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child > div > div > div:last-child {
  padding: 10px; }

.FrontEnd, .FrontEnd > div:first-child div:first-child, .FrontEnd section:first-of-type .container > div:first-child,
.FrontEnd section:nth-of-type(2) .container > div:first-child, .FrontEnd section:first-of-type .container > div:first-child > div:first-child,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:first-child, .FrontEnd section:first-of-type .container > div:first-child > div:last-child,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child {
  padding: 20px 0; }

.FrontEnd section:first-of-type .container > div:first-child > div:last-child > div > div > div:last-child,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child > div > div > div:last-child {
  font-weight: 700; }

.FrontEnd section:first-of-type .container > div:first-child > div:last-child > div > div > div:last-child,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child > div > div > div:last-child {
  font-size: 18px; }

.FrontEnd > div:first-child div:first-child h1 {
  font-size: 40px; }

.FrontEnd section:first-of-type .container > div:first-child > div:last-child > div > div > div:last-child,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child > div > div > div:last-child {
  text-align: center; }

.FrontEnd > div:first-child div:first-child h1 {
  text-transform: capitalize; }

.FrontEnd > div:first-child div:first-child, .FrontEnd section:first-of-type .container > div:first-child > div:first-child,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:first-child, .FrontEnd section:first-of-type .container > div:first-child > div:last-child,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child {
  display: flex; }

.FrontEnd section:first-of-type .container > div:first-child > div:last-child > div > div,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child > div > div {
  border-width: 2px; }

.FrontEnd section:first-of-type .container > div:first-child > div:last-child > div > div,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child > div > div {
  border-style: solid; }

.FrontEnd section:first-of-type .container > div:first-child > div:last-child > div > div,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child > div > div {
  border-color: #f0f2f4; }

.FrontEnd > div:first-child div:first-child h1, .FrontEnd section:first-of-type .container > div:first-child > div:first-child h2,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:first-child h2, .FrontEnd section:first-of-type .container > div:first-child > div:last-child > div > div,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child > div > div {
  border-radius: 6px; }

.FrontEnd > div:first-child div:first-child, .FrontEnd section:first-of-type .container > div:first-child > div:first-child,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:first-child {
  justify-content: center; }

.FrontEnd section:first-of-type .container > div:first-child > div:last-child,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child {
  justify-content: start; }

.FrontEnd > div:first-child div:first-child, .FrontEnd section:first-of-type .container > div:first-child > div:first-child,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:first-child {
  align-items: center; }

.FrontEnd section:first-of-type .container > div:first-child > div:last-child,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child {
  flex-wrap: wrap; }

.FrontEnd section:first-of-type .container > div:first-child > div:last-child > div,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child > div, .FrontEnd section:first-of-type .container > div:first-child > div:last-child > div > div,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child > div > div {
  overflow: hidden; }

.FrontEnd section:first-of-type .container > div:first-child > div:last-child > div > div > div:first-child img,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child > div > div > div:first-child img {
  height: 100%; }

.FrontEnd section:first-of-type .container > div:first-child > div:last-child > div > div > div:first-child,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child > div > div > div:first-child, .FrontEnd section:first-of-type .container > div:first-child > div:last-child > div > div > div:first-child img,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child > div > div > div:first-child img, .FrontEnd section:first-of-type .container > div:first-child > div:last-child > div > div > div:last-child,
.FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child > div > div > div:last-child {
  width: 100%; }

.FrontEnd > div:first-child div:first-child h1 {
  padding: 10px 100px; }
.FrontEnd section:first-of-type,
.FrontEnd section:nth-of-type(2) {
  padding: 40px 0; }
  .FrontEnd section:first-of-type .container > div:first-child > div:first-child h2,
  .FrontEnd section:nth-of-type(2) .container > div:first-child > div:first-child h2 {
    padding: 10px 70px; }
  .FrontEnd section:first-of-type .container > div:first-child > div:last-child > div,
  .FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child > div {
    min-height: 200px;
    width: 25%; }
    .FrontEnd section:first-of-type .container > div:first-child > div:last-child > div > div > div:first-child,
    .FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child > div > div > div:first-child {
      height: 200px; }

@media (max-width: 575px) {
  .FrontEnd > div:first-child div:first-child h1 {
    padding-left: 50px;
    padding-right: 50px; }
  .FrontEnd section:first-of-type .container > div:first-child > div:last-child > div,
  .FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child > div {
    width: 100%; } }

@media (min-width: 576px) and (max-width: 767px) {
  .FrontEnd section:first-of-type,
  .FrontEnd section:nth-of-type(2) {
    padding: 40px 0; }
    .FrontEnd section:first-of-type .container > div:first-child > div:last-child > div,
    .FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child > div {
      width: 50%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .FrontEnd section:first-of-type,
  .FrontEnd section:nth-of-type(2) {
    padding: 40px 0; }
    .FrontEnd section:first-of-type .container > div:first-child > div:last-child > div,
    .FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child > div {
      width: 50%; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .FrontEnd section:first-of-type,
  .FrontEnd section:nth-of-type(2) {
    padding: 40px 0; }
    .FrontEnd section:first-of-type .container > div:first-child > div:last-child > div,
    .FrontEnd section:nth-of-type(2) .container > div:first-child > div:last-child > div {
      width: 33.33%; } }

/*# sourceMappingURL=frontEnd.css.map */
