h1, .home section:first-of-type .content > div.Pack > div h3, .home section:nth-child(4) .content > div.Pack > div h3, .home section.s-5 .content div:first-child h2 {
  color: #141c3a; }

.home section:nth-child(3) .content div:last-child button:first-child a,
.home section:nth-child(3) .content div:last-child button:last-child a, .home section:nth-child(3) .content button:nth-child(2) a:hover, .home section.s-5 .content button a {
  color: #20d29e; }

.home > .container > div:first-child p, .home section:first-of-type .content > div.Pack div strong, .home section:first-of-type .content > div.Pack div div:last-child p, .home section:nth-child(4) .content > div.Pack div div:last-child p, .home section.s-5 .content div:first-child p {
  color: #666f70; }

.home section:first-of-type .content .infoMe *, .home section:first-of-type div.Pack:nth-child(2) > div:nth-child(2) strong, .home section:nth-child(3) h2, .home section:nth-child(3) .content div:last-child button:first-child a:hover,
.home section:nth-child(3) .content div:last-child button:last-child a:hover, .home section:nth-child(3) .content button:nth-child(2) a, .home section:nth-child(4) .content > div:first-child > div *, .home section.s-5 .content button a:hover {
  color: #ffffff; }

.home section:first-of-type .content .infoMe, .home section:first-of-type div.Pack:nth-child(2) > div:nth-child(2) strong, .home section:nth-child(3) {
  background-color: #141c3a; }

.home section:first-of-type, .home section:nth-child(3) .content div:last-child button:first-child a:hover,
.home section:nth-child(3) .content div:last-child button:last-child a:hover, .home section:nth-child(3) .content button:nth-child(2) a, .home section:nth-child(4), .home section.s-5 .content button a:hover {
  background-color: #20d29e; }

.home hr {
  background-color: #f0f2f4; }

.home section:first-of-type .content > div.Pack, .home section:nth-child(3) .content div:last-child button:first-child a,
.home section:nth-child(3) .content div:last-child button:last-child a, .home section:nth-child(3) .content button:nth-child(2) a:hover, .home section:nth-child(4) .content > div.Pack > *, .home section.s-5 .content button a {
  background-color: #ffffff; }

.home section:first-of-type .content > div.Pack div strong {
  padding: 8px 0px; }

.home section.s-5 .content div:first-child * {
  padding: 10px 0px; }

.home section:nth-child(3) .content div:last-child button a, .home section.s-5 .content button a {
  padding: 12px 16px; }

.home section:first-of-type .content > div.Pack > div div:first-child, .home section:first-of-type .content > div.Pack > div h3, .home section:nth-child(3), .home section:nth-child(4), .home section:nth-child(4) .content > div.Pack > div div:first-child, .home section:nth-child(4) .content > div.Pack > div h3, .home section.s-5, .home section.s-5 .content {
  padding: 20px 0px; }

.home section:first-of-type .content > div.Pack div div:last-child p, .home section:first-of-type div.Pack:nth-child(2) > div:nth-child(2) strong {
  padding: 8px; }

.home section:nth-child(3) h2, .home section:nth-child(4) .content > div:first-child > div * {
  padding: 10px; }

.home > .container > div:first-child p, .home section:first-of-type .content .infoMe, .home section:first-of-type .content .infoMe p, .home section:first-of-type .content > div.Pack > *, .home section:nth-child(4) .content > div:first-child, .home section:nth-child(4) .content > div.Pack > * {
  padding: 20px; }

.home section:first-of-type .content > div.Pack div strong {
  padding: 8px 0; }

.home section.s-5 .content div:first-child * {
  padding: 10px 0; }

.home section:first-of-type .content > div.Pack > div div:first-child, .home section:first-of-type .content > div.Pack > div h3, .home section:nth-child(3), .home section:nth-child(4), .home section:nth-child(4) .content > div.Pack > div div:first-child, .home section:nth-child(4) .content > div.Pack > div h3, .home section.s-5, .home section.s-5 .content {
  padding: 20px 0; }

.home > .container > div:first-child {
  padding-top: 20px; }

.home section:first-of-type .content > div.Pack div strong {
  margin-bottom: 8px; }

.home > .container > div:first-child img {
  margin-top: 20px; }

.home > .container > div:first-child {
  margin-bottom: 20px; }

.home section:first-of-type .content > div.Pack > div h3, .home section:nth-child(4) .content > div.Pack > div h3 {
  font-weight: 900; }

.home section:first-of-type .content > div.Pack div div:last-child p {
  font-size: 15px; }

.home section:nth-child(4) .content > div.Pack div div:last-child p, .home section.s-5 .content div:first-child p {
  font-size: 17px; }

.home > .container > div:first-child p {
  font-size: 30px; }

h1 {
  font-size: 80px; }

.home section:first-of-type .content .infoMe h2, .home section:first-of-type .content .infoMe p, .home section:first-of-type .content > div.Pack > div h3, .home section:nth-child(3) h2, .home section:nth-child(4) .content > div:first-child > div *, .home section:nth-child(4) .content > div.Pack > div h3 {
  text-align: center; }

h1 {
  text-transform: capitalize; }

.home section:first-of-type .content > div.Pack div strong {
  display: inline-block; }

.home > .container > div:first-child, .home section:first-of-type .content .infoMe, .home section:first-of-type .content > div.Pack, .home section:first-of-type .content > div.Pack > div div:first-child, .home section:first-of-type .content > div.Pack div div:last-child, .home section:nth-child(3) .content, .home section:nth-child(3) .content div:last-child, .home section:nth-child(4) .content > div:first-child > div, .home section:nth-child(4) .content > div.Pack, .home section:nth-child(4) .content > div.Pack > div div:first-child, .home section.s-5 .content, .home section.s-5 .content div:first-child {
  display: flex; }

.home section:nth-child(4) .content > div.Pack > * {
  border-width: 1px; }

.home section:first-of-type .content > div.Pack > div:first-child,
.home section:first-of-type .content > div.Pack > div:nth-child(2) {
  border-right-width: 1px; }

.home section:first-of-type .content > div.Pack > div div:first-child, .home section:nth-child(4) .content > div.Pack > div div:first-child {
  border-bottom-width: 1px; }

.home section:first-of-type .content > div.Pack, .home section:nth-child(3) .content div:last-child button a, .home section.s-5 .content button a {
  border-width: 2px; }

.home section:first-of-type .content > div.Pack, .home section:nth-child(3) .content div:last-child button a, .home section:nth-child(4) .content > div.Pack > *, .home section.s-5 .content button a {
  border-style: solid; }

.home section:first-of-type .content > div.Pack > div:first-child,
.home section:first-of-type .content > div.Pack > div:nth-child(2) {
  border-right-style: solid; }

.home section:first-of-type .content > div.Pack > div div:first-child, .home section:nth-child(4) .content > div.Pack > div div:first-child {
  border-bottom-style: solid; }

.home section:nth-child(3) .content div:last-child button:first-child a,
.home section:nth-child(3) .content div:last-child button:last-child a, .home section:nth-child(3) .content button:nth-child(2) a:hover, .home section.s-5 .content button a {
  border-color: #20d29e; }

.home section:nth-child(3) .content button:nth-child(2) a {
  border-color: #ffffff; }

.home section:first-of-type .content > div.Pack, .home section:nth-child(4) .content > div.Pack > * {
  border-color: #f0f2f4; }

.home section:first-of-type .content > div.Pack > div:first-child,
.home section:first-of-type .content > div.Pack > div:nth-child(2) {
  border-right-color: #f0f2f4; }

.home section:first-of-type .content > div.Pack > div div:first-child, .home section:nth-child(4) .content > div.Pack > div div:first-child {
  border-bottom-color: #f0f2f4; }

.home section:first-of-type div.Pack:nth-child(2) > div:nth-child(2) strong {
  border-radius: 6px; }

.home section:nth-child(3) .content div:last-child button a, .home section.s-5 .content button a {
  border-radius: 24px; }

.home section:nth-child(3) .content div:last-child button a, .home section.s-5 .content button a {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all; }

.home section:nth-child(3) .content div:last-child button a, .home section.s-5 .content button a {
  transition-property: all; }

.home section:nth-child(3) .content div:last-child button a, .home section.s-5 .content button a {
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear; }

.home section:nth-child(3) .content div:last-child button a, .home section.s-5 .content button a {
  transition-timing-function: linear; }

.home section:nth-child(3) .content div:last-child button a, .home section.s-5 .content button a {
  transition-duration: 0.2s; }

.home section:first-of-type .content {
  position: relative; }

.home section:first-of-type .content .infoMe, .home section:first-of-type .content > div.Pack {
  position: absolute; }

.home > .container > div:first-child, .home section:first-of-type .content .infoMe, .home section:first-of-type .content > div.Pack, .home section:first-of-type .content > div.Pack > div div:first-child, .home section:nth-child(4) .content > div:first-child > div, .home section:nth-child(4) .content > div.Pack, .home section:nth-child(4) .content > div.Pack > div div:first-child {
  justify-content: center; }

.home section:nth-child(3) .content, .home section:nth-child(3) .content div:last-child, .home section.s-5 .content, .home section.s-5 .content div:first-child {
  justify-content: space-between; }

.home > .container > div:first-child, .home section:first-of-type .content .infoMe, .home section:first-of-type .content > div.Pack, .home section:first-of-type .content > div.Pack > div div:first-child, .home section:nth-child(3) .content, .home section:nth-child(4) .content > div:first-child > div, .home section:nth-child(4) .content > div.Pack, .home section:nth-child(4) .content > div.Pack > div div:first-child, .home section.s-5 .content, .home section.s-5 .content div:first-child {
  align-items: center; }

.home section:nth-child(4) .content > div.Pack > * {
  align-self: stretch; }

.home section:first-of-type .content > div.Pack div div:last-child img:last-child {
  align-self: end; }

.home > .container > div:first-child, .home section:first-of-type .content .infoMe, .home section:first-of-type .content > div.Pack div div:last-child, .home section:nth-child(3) .content div:last-child, .home section:nth-child(4) .content > div:first-child > div, .home section.s-5 .content, .home section.s-5 .content div:first-child {
  flex-direction: column; }

.home section:first-of-type .content .infoMe, .home section:first-of-type .content > div.Pack, .home section:nth-child(4) .content > div.Pack {
  width: 100%; }

.home > .container > div:first-child {
  min-height: 500px; }
.home section:first-of-type .content {
  min-height: 450px;
  margin-top: 200px; }
  .home section:first-of-type .content .infoMe {
    min-height: 200px;
    margin-top: -100px; }
    .home section:first-of-type .content .infoMe * {
      font-family: "Hammersmith One"; }
    .home section:first-of-type .content .infoMe p {
      line-height: 1.8;
      width: 900px; }
  .home section:first-of-type .content > div.Pack {
    border-radius: 10px;
    bottom: -150px;
    box-shadow: 0px 10px 13px -9px #e1e1e1; }
    .home section:first-of-type .content > div.Pack > * {
      width: 33.33%; }
    .home section:first-of-type .content > div.Pack div div:last-child img {
      width: 14px;
      max-width: 14px; }
.home section:nth-child(3) {
  height: 500px;
  max-height: 500px;
  margin-top: 400px; }
  .home section:nth-child(3) .content div:last-child {
    height: 200px;
    max-height: 200px; }
    .home section:nth-child(3) .content div:last-child button {
      background: none; }
      .home section:nth-child(3) .content div:last-child button a {
        width: 400px;
        max-width: 400px; }
    .home section:nth-child(3) .content div:last-child button:first-child a:hover,
    .home section:nth-child(3) .content div:last-child button:last-child a:hover {
      transform: translateY(-2px); }
  .home section:nth-child(3) .content button:nth-child(2) a:hover {
    transform: translateX(12px); }
.home section:nth-child(4) {
  height: 450px;
  max-height: 450px;
  margin-top: 400px; }
  .home section:nth-child(4) .content > div:first-child {
    min-height: 200px; }
    .home section:nth-child(4) .content > div:first-child > div * {
      font-family: "Hammersmith One"; }
    .home section:nth-child(4) .content > div:first-child > div p {
      line-height: 1.8;
      width: 900px; }
  .home section:nth-child(4) .content > div.Pack {
    margin-top: 100px;
    box-shadow: 0px 10px 13px -9px #e1e1e1; }
    .home section:nth-child(4) .content > div.Pack > * {
      width: 33.33%; }
    .home section:nth-child(4) .content > div.Pack > div div:first-child img {
      width: 64px;
      min-width: 64px; }
.home hr {
  height: 2px;
  min-height: 2px;
  margin: 260px 0px 120px;
  border: none; }
.home section.s-5 .content {
  height: 200px;
  min-height: 200px; }
  .home section.s-5 .content button {
    background: none; }
    .home section.s-5 .content button a {
      width: 300px;
      max-width: 300px; }
      .home section.s-5 .content button a:hover {
        transform: translateY(-2px); }

/*# sourceMappingURL=home.css.map */
