@import "../include/files/varaibles";
@import "../include/files/extend";
@import "../include/files/mixin";
@import "../include/files/functions";
.Contact {
    @extend %padding-top-20;
    @extend %padding-bottom-20;
    h1 {
        @extend %font-size-28;
        @extend %font-weight-700;
        @extend %padding-top-20;
        @extend %padding-bottom-20;
    }

    .form {
        @extend %margin-auto;
        width: 700px;
        @extend %padding-20;
        .alert-500 {
            @extend %padding-10;
            @extend %border-width-2;
            @extend %border-style-solid;
            border-radius: 2px;
            background-color: #b9edfd;
            border-color: #b6eeff;
            div {
                position: relative;
                h2 {
                    @extend %padding-6;
                }
                p {
                    @extend %padding-6;
                    color: #2c2c2d;
                }
                span {
                    position: absolute;
                    right: 10px;
                    cursor: pointer;
                    top: 10px;
                    img {
                        width: 20px;
                        max-width: 20px;
                    }
                }
            }
        }
        .tel-email {
            @extend %padding-20-0;
            @extend %flex-wrap-wrap;
            @include flex-JC-AI-bc;
            > div {
                @include flex-JC-AI-center;
                @extend %flex-direction-column;
                @extend %padding-20;
                @extend %background-color-b;
                @extend %border-width-2;
                @extend %border-style-solid;
                border-color: #e7eaec;
                width: 40%;
                border-radius: 2px;
                div:first-child {
                    @extend %padding-8-0;
                    img {
                        width: 50px;
                    }
                }
                div:last-child {
                    @extend %font-size-20;
                    @extend %color-p1;
                }
            }
        }
        // input,
        // textarea,
        // button {
        //     @extend %width-100;
        //     @extend %padding-10-10;
        //     border-radius: 4px;
        //     background-color: #f9f9f9;
        //     border: 1px solid $border !important;
        //     &:focus {
        //         border-color: $primary2 !important;
        //     }
        // }
        // textarea {
        //     resize: none;
        //     height: 200px;
        // }
        // label {
        //     @extend %display-block;
        //     @extend %padding-top-10;
        //     @extend %padding-bottom-10;
        //     @extend %font-weight-700;
        //     @extend %font-size-12;
        //     color: $label;
        // }
        // button {
        //     @extend %color-p4;
        //     @extend %pointer;
        //     background-color: $primary2 !important;
        // }
        // form {
        //     @extend %padding-20;
        //     .content-form {
        //         @extend %display-flex;
        //         @extend %justify-content-space-between;
        //         @extend %flex-wrap-wrap;
        //         > div {
        //             width: 50%;
        //             > div {
        //                 @extend %padding-4;
        //             }
        //         }
        //         > div:last-child {
        //             @extend %display-flex;
        //             @extend %justify-content-space-between;
        //             @extend %flex-direction-column;
        //         }
        //     }
        // }
    }
}

.Contact {
    @include md-575 {
        h1 {
            font-size: 18px;
        }
        .form {
            width: auto;
            .alert-500 {
                div {
                    padding-left: 0;
                    padding-right: 0;
                    h2 {
                        font-size: 16px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
            .tel-email {
                > div {
                    width: 100%;
                    margin-top: 10px;
                }
            }
        }
    }
}

.Contact {
    @include md-576-767 {
        h1 {
            font-size: 20px;
            line-height: 1.8;
        }
        .form {
            width: auto;
            .alert-500 {
                div {
                    padding-left: 0;
                    padding-right: 0;
                    h2 {
                        font-size: 17px;
                    }
                    p {
                        font-size: 15px;
                    }
                }
            }
            .tel-email {
                > div {
                    width: 48%;
                    padding: 10px;
                }
            }
        }
    }
}
.Contact {
    @include md-768-991 {
        h1 {
            font-size: 26px;
            line-height: 1.8;
        }
    }
}
.Contact {
    @include md-992-1199 {
    }
}
