@import "../include/files/varaibles";
@import "../include/files/extend";
@import "../include/files/mixin";
@import "../include/files/functions";

.Design {
  @extend %padding-20-0;
  > div:first-child {
    div:first-child {
      @include flex-JC-AI-center;
      @extend %padding-20-0;
      h1 {
        @extend %capitalize;
        @extend %background-color-p3;
        @extend %font-size-40;
        @extend %color-p1;
        @extend %border-radius-6;
        padding: 10px 100px;
      }
    }
  }
  section:first-of-type,
  section:nth-of-type(2) {
    padding: 40px 0;
    .container {
      > div:first-child {
        @extend %padding-20-0;
        > div:first-child {
          @include flex-JC-AI-center;
          @extend %padding-20-0;
          h2 {
            @extend %background-color-p1;
            @extend %border-radius-6;
            @extend %color-w;
            padding: 10px 70px;
          }
        }
        > div:last-child {
          @include flex-JC-AI-center;
          @extend %padding-20-0;
          @extend %flex-wrap-wrap;
          > div {
            @include min-height(200);
            @extend %overflow-hidden;
            width: 25%;
            > div {
              @extend %border-radius-6;
              @extend %overflow-hidden;
              @extend %border-width-2;
              @extend %border-style-solid;
              @extend %border-color-b;
              > div:first-child {
                @extend %width-100;
                @include height(200);
                img {
                  @extend %width-100;
                  @extend %height-100;
                }
              }
              > div:last-child {
                @extend %width-100;
                @extend %padding-10;
                @extend %center;
                @extend %color-p1;
                @extend %font-weight-700;
                span {
                  @extend %color-p2;
                }
              }
            }
          }
        }
      }
    }
  }
}

.Design {
  @include md-575 {
    > div:first-child {
      div:first-child {
        h1 {
          padding-left: 50px;
          padding-right: 50px;
        }
      }
    }
    section:first-of-type,
    section:nth-of-type(2) {
      .container {
        > div:first-child {
          > div:last-child {
            > div {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
.Design {
  @include md-576-767 {
    section:first-of-type,
    section:nth-of-type(2) {
      padding: 40px 0;
      .container {
        > div:first-child {
          > div:last-child {
            > div {
              width: 50%;
            }
          }
        }
      }
    }
  }
}
.Design {
  @include md-768-991 {
    section:first-of-type,
    section:nth-of-type(2) {
      padding: 40px 0;
      .container {
        > div:first-child {
          > div:last-child {
            > div {
              width: 50%;
            }
          }
        }
      }
    }
  }
}
.Design {
  @include md-992-1199 {
    section:first-of-type,
    section:nth-of-type(2) {
      padding: 40px 0;
      .container {
        > div:first-child {
          > div:last-child {
            > div {
              width: 33.33%;
            }
          }
        }
      }
    }
  }
}
