@import "../include/files/varaibles";
@import "../include/files/extend";
@import "../include/files/functions";
@import "../include/files/mixin";
@import "../include/container/index";
* {
  @extend %box-sizing;
  @extend %margin-0;
  @extend %padding-0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 6px; }

body {
  scrollbar-width: thin;
  scrollbar-color: #010531; }

body::-webkit-scrollbar-track {
  background: #E7EAEC;
  border-left: 1px solid #ddd; }

body::-webkit-scrollbar-thumb {
  background-color: #010531;
  border-radius: 1px; }


p {
  font-size: 18px;
}
a {
  @extend %display-block;
  @extend %font-size-18;
  text-decoration: none;
}
button,
textarea,
input {
  outline: none;
  border: none;
}
.infoMe {
  border-radius: 10px;
  box-shadow: 0px -25px 76px -54px $primary1;
}
header {
  .container {
    div {
      @include flex-JC-AI-bc;
      @extend %padding-6-0;
      div:first-child {
        a {
          img {
          }
        }
      }
      div:last-child {
        a {
          @extend %color-w;
          @extend %background-color-p2;
          @extend %padding-10-20;
          @extend %borderRadius;
          @extend %border-color-p2;
          @extend %border-width-2;
          @extend %border-style-solid;
          @extend %transition-property-all;
          @extend %transition-duration-2;
          @extend %transition-timing-function-linear;
          &:hover {
            transform: translateY(-2px);
            @extend %background-color-w;
            @extend %color-p2;
          }
          i {
            @extend %font-size-20;
          }
        }
      }
    }
  }
}
header.borderBottom {
  @extend %border-color-bottom-p3;
  @extend %border-width-bottom-4;
  @extend %border-style-bottom-solid;
}
footer {
  @extend %background-color-p2;
  @include min-height(450);
  .content {
    @extend %relative;
    @include min-height(200);
    margin-top: 200px;
    .infoMe {
      @include min-height(200);
      @extend %background-color-p1;
      @extend %absolute;
      @extend %padding-20;
      @extend %width-100;
      margin-top: -100px;
      > div {
        @include flex-JC-AI-center;
        @extend %padding-20;
        @extend %flex-direction-column;
      }
      * {
        @extend %color-w;
        font-family: font-family(f3);
      }
      h2 {
        @extend %center;
      }
      p {
        @extend %center;
        @extend %padding-20;
        line-height: 1.8;
        width: 900px;
      }
      button {
        background: none;
        a {
          @include width(300);
          @include max-width(300);
          @extend %padding-12-16;
          @extend %border-radius-24;
          @extend %border-width-2;
          @extend %border-style-solid;
          @extend %transition-property-all;
          @extend %transition-duration-2;
          @extend %transition-timing-function-linear;
          @extend %border-color-p2;
          @extend %color-p2;
          &:hover {
            @extend %background-color-p2;
            @extend %color-w;
          }
        }
      }
    }
  }
  div:nth-child(2) {
    @extend %color-w;
    @include flex-JC-AI-center;
    @extend %flex-direction-column;
    @extend %font-size-18;
    font-family: font-family(f3);
    > * {
      @extend %margin-20-0;
    }
    div:first-child {
      @include flex-JC-AI-center;
      @include width(80);
      @include max-width(80);
      @extend %background-color-p1;
      border-radius: 50%;
    }
    div:nth-child(3) {
      @include flex-JC-AI-center;
      a {
        @include flex-JC-AI-center;
        img {
          @include width(40);
          @include max-width(40);
          @extend %margin-0-10;
        }
      }
    }
  }
}

footer {
  @include md-575 {
    .content {
      .infoMe {
        padding: 0px;
        p {
          width: auto;
          padding-left: 0px;
          padding-right: 0px;
          font-size: 16px;
        }
        button {
          a {
            width: 280px;
            max-width: 280px;
          }
        }
      }
    }
    div:nth-child(2) {
      div:nth-child(2){
        text-align: center;
        font-size: 16px;
      }
    }
  }
}
footer {
  @include md-576-767 {
    .content {
      .infoMe {
        padding: 0px;
        p {
          width: auto;
          padding-left: 0px;
          padding-right: 0px;
          font-size: 16px;
        }
      }
    }
  }
}
footer {
  @include md-768-991 {
    .content {
      .infoMe {
        p {
          width: auto;
        }
      }
    }
  }
}
footer {
  @include md-992-1199 {
  }
}
footer {
  @include md-1400 {
  }
}
