@import "../include/files/varaibles";
@import "../include/files/extend";
@import "../include/files/mixin";
@import "../include/files/functions";

h1 {
  @extend %capitalize;
  @extend %font-size-80;
  @extend %color-p1;
}
.home {
  > .container {
    > div:first-child {
      @extend %padding-top-20;
      @include flex-JC-AI-center;
      @include min-height(500);
      @extend %flex-direction-column;
      @extend %margin-bottom-20;
      p {
        @extend %padding-20;
        @extend %font-size-30;
        @extend %color-p5;
      }
      img {
        @extend %margin-top-20;
      }
    }
  }
  section:first-of-type {
    @extend %background-color-p2;
    .content {
      @extend %relative;
      @include min-height(450);
      margin-top: 200px;
      .infoMe {
        @include min-height(200);
        @include flex-JC-AI-center;
        @extend %background-color-p1;
        @extend %absolute;
        @extend %padding-20;
        @extend %flex-direction-column;
        @extend %width-100;
        margin-top: -100px;
        * {
          @extend %color-w;
          font-family: font-family(f3);
        }
        h2 {
          @extend %center;
        }
        p {
          @extend %center;
          @extend %padding-20;
          line-height: 1.8;
          width: 900px;
        }
      }
      > div.Pack {
        @include flex-JC-AI-center;
        @extend %width-100;
        @extend %background-color-w;
        @extend %absolute;
        @extend %border-width-2;
        @extend %border-style-solid;
        @extend %border-color-b;
        border-radius: 10px;
        bottom: -150px;
        box-shadow: 0px 10px 13px -9px #e1e1e1;
        > * {
          width: 33.33%;
          @extend %padding-20;
        }
        > div:first-child,
        > div:nth-child(2) {
          @extend %border-width-right-1;
          @extend %border-style-right-solid;
          @extend %border-color-right-b;
        }
        > div div:first-child {
          @include flex-JC-AI-center;
          @extend %padding-20-0;
          @extend %border-width-bottom-1;
          @extend %border-style-bottom-solid;
          @extend %border-color-bottom-b;
        }
        > div h3 {
          @extend %center;
          @extend %padding-20-0;
          @extend %color-p1;
          @extend %font-weight-900;
        }
        div strong {
          @extend %padding-8-0;
          @extend %margin-bottom-8;
          @extend %display-inline-block;
          @extend %color-p5;
        }
        div div:last-child {
          @extend %display-flex;
          @extend %flex-direction-column;
          img {
            @include width(14);
            @include max-width(14);
          }
          p {
            @extend %font-size-15;
            @extend %color-p5;
            @extend %padding-8;
          }
          img:last-child {
            @extend %align-self-end;
          }
        }
      }
    }
    div.Pack:nth-child(2) {
      > div:nth-child(2) {
        strong {
          @extend %padding-8;
          @extend %background-color-p1;
          @extend %border-radius-6;
          @extend %color-w;
        }
      }
    }
  }
  section:nth-child(3) {
    @extend %background-color-p1;
    @extend %padding-20-0;
    @include height(500);
    @include max-height(500);
    margin-top: 400px;
    h2 {
      @extend %padding-10;
      @extend %center;
      @extend %color-w;
    }
    .content {
      @include flex-JC-AI-bc;
      div:first-child {
      }
      div:last-child {
        @include height(200);
        @include max-height(200);
        @extend %display-flex;
        @extend %justify-content-space-between;
        @extend %flex-direction-column;
        button {
          background: none;
          a {
            @include width(400);
            @include max-width(400);
            @extend %padding-12-16;
            @extend %border-radius-24;
            @extend %border-width-2;
            @extend %border-style-solid;
            @extend %transition-property-all;
            @extend %transition-duration-2;
            @extend %transition-timing-function-linear;
          }
        }
        button:first-child a,
        button:last-child a {
          @extend %border-color-p2;
          @extend %background-color-w;
          @extend %color-p2;
          &:hover {
            transform: translateY(-2px);
            @extend %background-color-p2;
            @extend %color-w;
          }
        }
      }
      button:nth-child(2) a {
        @extend %border-color-w;
        @extend %background-color-p2;
        @extend %color-w;
        &:hover {
          @extend %border-color-p2;
          @extend %background-color-w;
          @extend %color-p2;
          transform: translateX(12px);
        }
      }
    }
  }
  section:nth-child(4) {
    @extend %background-color-p2;
    @extend %padding-20-0;
    @include height(450);
    @include max-height(450);
    margin-top: 400px;
    .content {
      > div:first-child {
        @include min-height(200);
        @extend %padding-20;
        > div {
          @include flex-JC-AI-center;
          @extend %flex-direction-column;
          * {
            @extend %padding-10;
            @extend %color-w;
            @extend %center;
            font-family: font-family(f3);
          }
          p {
            line-height: 1.8;
            width: 900px;
          }
        }
      }
      > div.Pack {
        @include flex-JC-AI-center;
        @extend %width-100;
        margin-top: 100px;
        box-shadow: 0px 10px 13px -9px #e1e1e1;
        > * {
          width: 33.33%;
          @extend %align-self-stretch;
          @extend %padding-20;
          @extend %background-color-w;
          @extend %border-width-1;
          @extend %border-style-solid;
          @extend %border-color-b;
        }
        > div div:first-child {
          @include flex-JC-AI-center;
          @extend %padding-20-0;
          @extend %border-width-bottom-1;
          @extend %border-style-bottom-solid;
          @extend %border-color-bottom-b;
          img {
            @include width(64);
            @include min-width(64);
          }
        }
        > div h3 {
          @extend %center;
          @extend %padding-20-0;
          @extend %color-p1;
          @extend %font-weight-900;
        }
        div div:last-child {
          p {
            @extend %font-size-17;
            @extend %color-p5;
          }
        }
      }
    }
  }
  hr {
    @include height(2);
    @include min-height(2);
    @extend %background-color-p3;
    margin: 260px 0px 120px;
    border: none;
  }
  section.s-5 {
    @extend %padding-20-0;
    .content {
      @include flex-JC-AI-bc;
      @include height(200);
      @include min-height(200);
      @extend %padding-20-0;
      @extend %flex-direction-column;
      div:first-child {
        @extend %flex-direction-column;
        @include flex-JC-AI-bc;
        * {
          @extend %padding-10-0;
        }
        h2 {
          @extend %color-p1;
        }
        p {
          @extend %font-size-17;
          @extend %color-p5;
        }
      }
      button {
        background: none;
        a {
          @include width(300);
          @include max-width(300);
          @extend %padding-12-16;
          @extend %border-radius-24;
          @extend %border-width-2;
          @extend %border-style-solid;
          @extend %transition-property-all;
          @extend %transition-duration-2;
          @extend %transition-timing-function-linear;
          @extend %border-color-p2;
          @extend %background-color-w;
          @extend %color-p2;
          &:hover {
            transform: translateY(-2px);
            @extend %background-color-p2;
            @extend %color-w;
          }
        }
      }
    }
  }
}
